<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'enroll/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
    <title>CRUD</title>
</head>
<body>
  <div class="container mt-5">
    <h2 class="text-center alert alert-danger">function based view modelform Curd project</h2>
  </div>
   {% block content %}
   
   {% endblock content %}

    <script src="{% static 'enroll/js/bootstarp.js' %}"></script>
    <script src="{% static 'enroll/js/proper.js' %}"></script>

</body>
</html>